{% extends 'base.html.twig' %}
{% block content %}
    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area">
        <div class="ht__bradcaump__container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Evenements</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start Our Event Area -->
    <div class="dcare__event__area bg--white section-padding--lg">
        <div class="container">
            <div class="row event-grid-page">
                {% for events in events %}
                <!-- Start Single Event -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="dcare__event">
                        <div class="event__thumb">
                            <a href="#">
                                <img src="{{ asset('back/' ~ events.brochure) }}" alt="event images">
                            </a>
                        </div>
                        <div class="event__content">
                            <div class="event__pub">
                                <div class="event__date">
                                    <span class="date">{{ events.date|date("d") }}</span><span>th</span>
                                </div>
                                <ul class="event__time">
                                    <li>{{ events.date|date('F') }}</li>
                                    <li><i class="fa fa-home"></i>{{ events.adresse }}</li>
                                </ul>
                            </div>
                            <div class="event__inner">
                                <p><a href="event-details.html">{{ events.nom }}</a></p>
                            </div>
                            <ul class="event__btn">
                                <li><a href="{{ path('participer', { 'id':events.id }) }}">Participer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Start Single Event -->
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Our Event Area -->
{% endblock %}