{% extends'base.html.twig' %}
{% block content  %}
    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area">
            <div class="ht__bradcaump__container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Liste des enfants</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <h2> Liste des enfants </h2>
        {% for e in Enfant  %}
            <ul>
                <li>Id : {{ e.id }} </li>
                <li>Nom : {{ e.nom }} </li>
                <li>Prenom : {{ e.prenom }} </li>
                {# <li>Date de naissance : {{ e.dateNaissance }} </li> #}
                {%  if e.Noteid !=null %}
                    <li>Note : {{ e.Noteid }} </li>
                {%  else %}
                    <li>Note : </li>
                {% endif %}
            </ul>
            <a href="{{ path("updateEnfant",{'id' : e.id}) }}">
                <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button> </a>

            <a href="{{ path("deleteEnfant",{'id' : e.id}) }}">
                <button type="button" class="btn btn-sm btn-outline-secondary">Supprimer</button> </a>
            <a href="{{ path("ajoutNote",{'id' : e.id}) }}">
                <button type="button" class="btn btn-sm btn-outline-secondary">Affecter note</button> </a>
        {%  endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="dcare__pagination mt--80">
                <ul class="dcare__page__list d-flex justify-content-center">
                    <li><a href="#"><span class="ti-angle-double-left"></span></a></li>
                    <li><a class="page" href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li>
                    <li><a href="#">20</a></li>
                    <li><a class="page" href="#">Next</a></li>
                    <li><a href="#"><span class="ti-angle-double-right"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
